.title a {
  color: #333;
}

.title a:hover {
  text-decoration: none;
}

.submenu.dropdown-menu > li > a {
  padding-left: 10px;
}

.small.nav > li > a {
  padding: 5px 10px;
}

.bold {
  font-weight: 700;
}

.bg-grad {
  background:
    linear-gradient(to bottom right, rgba(213,186,161, 0.7), rgba(255,244,206, 0.5)),
    radial-gradient(rgba(229,202,177, 0.5) 0%, rgba(255,244,206, 0.5) 60%, rgba(228,182,113, 0.7) 120%);
}

.bg-gray {
  background-color: #f7f7f9;
}

.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
  flex-wrap: wrap;
}

.carousel-fixed-height {
}

.carousel-fixed-height > .item {
  padding-top: 100%;
}

.carousel-fixed-height > .item img {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 100%;
  max-height: 100%;
}

.justify {
  text-align: justify;
}

.thumbnail {
  position: relative;
  height: 100%;
}

.thumbnail-parent {
  padding-bottom: 40px;
}

.thumbnail > .thumbnail-img {
  padding-top: 100%;
  display: block;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.thumbnail > .btn-thumbnail-bottom {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%) translateY(50%);
}

ul.thumbnail-list > li {
  padding: 10px 10px;
  text-align: center;
  position: relative;
}

ul.thumbnail-list > li::after {
  position: absolute;
  content: "";
  bottom: 0;
  height: 1px;
  left: 35%;
  right: 35%;
  border-bottom: 1px solid #eee;
}

.thumbnail .caption a {
  color: #333;
  display: block;
}

.no-padding {
  padding: 0 !important;
}

.margin-right-10 {
  margin-right: 10px;
}

.indiv-item {
  margin-bottom: 10px;
  position: relative;
}

.indiv-item::after {
  content: "";
  margin: 0 15px;
  padding-top: 10px;
  height: 1px;
  width: 100%;
  display: block;
  border-bottom: 1px solid #eee;
}

.indiv-item:last-of-type::after {
  border: none;
  padding: 0;
}

.indiv-item .media-body,
.indiv-item .media-body h5 {
  line-height: 1.75em;
  font-size: 1.2em;
}

.indiv-item .media-body h3 {
  margin-bottom: 20px;
}

.indiv-item .media-left img {
  width: 30vw;
  margin-right: 20px;
}

.product-row .media {
  padding: 4px;
  padding-bottom: 14px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.product-row .media img {
  width: 15vw;
  margin-right: 20px;
}

.product-row .media center {
  padding-top: 20px;
}

.product-list {
  list-style-type: circle;
}

.product-list > li {
  /*display: inline-block;*/
  float: left;
  width: 40%;
  padding: 5px 0;
}

.padding-top {
  padding-top: 20px;
}

.margin-bottom {
  margin-bottom: 30px;
}

.fw-400 {
  font-weight: 400;
}


#navbar .submenu > li > a {
  padding-left: 10px;
  padding-right: 5px;
}

#navbar .submenu h4 {
  overflow-x: hidden;
  text-overflow: ellipsis;
}

img.sm-thumb {
  margin-right: 10px;
  max-height: 100px;
  max-width: 100px;
}
